{% extends "base.html" %} 
{% import "_macros.html" as macros %}

{% block title %} Home Page {% endblock %} 

{% block navbar %} {{ super() }} {% endblock %} 

{% block page_content %}
<div class="page-header">
<p>Hello, 
{% if current_user.is_authenticated %} 
    {{ current_user.username }} 
{% else %} 
    Stranger 
{% endif %}!  </p>
</div>

<div>
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

{% include "_posts.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}