{% extends "base_template.html" %} 

{% block title %} Home Page {% endblock %} 

{% block navbar %} {{ super() }} {% endblock %} 

{% block content %}

<h1>Hello, World!</h1>
<p>Welcome to my app.</p>
<p>The time locally is, {{ moment(current_time).format('LLL') }}</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

<!-- {% if name %}
<p>Hello, {{ name }}!</p>
{% else %}
<p>Hello, Stranger!</p>
{% endif %} -->

<!-- <form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit() }}
  {{ wtf.quick_form(form) }}
</form> -->

<!-- {% if not known %}
<p>Pleased to meet you!</p>
{% else %}
<p>Happy to see you again!</p>
{% endif %}  -->

<p>Hello, 
{% if current_user.is_authenticated %} 
    {{ current_user.username }} 
{% else %} 
    Stranger 
{% endif %}!  </p>

{% endblock %}
